/* Slider Style
_________________________________________*/

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider__wrapper {
  height: 300px;
  width: 100%;
  list-style: none;
  overflow: hidden;
  *zoom: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -webkit-padding-start: 0;
}

.slider__item {
  height: 100%;
  float: left;
  clear: none;
}

.slider__item img {
  height: 100%;
  width: 100%;
}

.slider__arrows-item {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
  cursor: pointer;
}

.slider__arrows-item--right {
  bottom: 50%;
  right: 30px;
}

.slider__arrows-item--left {
  bottom: 50%;
  left: 30px;
}

.slider__nav {
  position: absolute;
  bottom: 30px;
}

.slider__nav-item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}

.slider__nav-item--current {
  background: #ccc;
}

.slider__nav-item:hover {
  background: #ccc;
}

/* Hexagon Style
_________________________________________*/


.hex-container {
  position: absolute;
  overflow: hidden;
  padding-bottom: 25px;
  top: 250px;
  left: 0;
  z-index: 1;
}

.hex-container-right {
  position: absolute;
  overflow: hidden;
  padding-bottom: 50px;
  top: 250px;
  right: 0;
  z-index: 1;
}

.hex-container div:first-child {
  margin-top: -85px;
}

.hex-container-right div:first-child {
  margin-top: -51px;
}

.hex-container .hex {
  width: 100px;
  height: 110px;
  float: left;
  margin-right: 2px;
  margin-bottom: -25px;
  /*background: no-repeat center rgba(242,198,31,.5); */
  background: no-repeat center rgba(0,0,0,.2);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  
}

.hex-container-right .hex {
  width: 110px;
  height: 100px;
  float: right;
  margin-left: 60px;
  margin-bottom: -49px;
  background: no-repeat center rgba(0,0,0,.2);
  -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  
}

.hex-container div:nth-of-type(even)   {
  -webkit-transform: translateX(-51px);
  -moz-transform: translateX(-51px);
  -ms-transform: translateX(-51px);
  -o-transform: translateX(-51px);
  transform: translateX(-51px);
}

.hex-container-right div:nth-of-type(even)   {
  -webkit-transform: translateX(85px);
  -moz-transform: translateX(85px);
  -ms-transform: translateX(85px);
  -o-transform: translateX(85px);
  transform: translateX(85px);
}

.hex-row {
  clear: both;
}

.hex-container .hex:hover {
  -webkit-transform: rotatey(360deg);
  -moz-transform: rotatey(360deg);
  -ms-transform: rotatey(360deg);
  -o-transform: rotatey(360deg);
  transform: rotatey(360deg);
}

.hex-container div:nth-of-type(2) section:nth-of-type(2) {
  background: center url(../assets/images/technology-school-1236x824-1376585841.jpg);
  background-size: 150px 130px;
  background-position: 0 0;
}

.hex-container div:nth-of-type(3) section:nth-of-type(2) {
  background: center url(../assets/images/0220.jpg);
  background-size: 100px 130px;
}

.hex-container div:nth-of-type(3) section:nth-of-type(1) {
  background: center url(../assets/images/10621.jpg);
  background-size: 100px 130px;
}

.hex-container div:nth-of-type(4) section:nth-of-type(2) {
  background: center url(../assets/images/student-with-ipad-technology-in-the-classroom1.jpg);
  background-size: 150px 130px;
}

.hex-container div:nth-of-type(5) section:nth-of-type(1) {
  background: center url(../assets/images/105411_2.jpg);
  background-size: 100px 130px;
  background-position: 0 10px;
}

.hex-container div:nth-of-type(2) section:nth-of-type(2) {
  background: center url(../assets/images/technology-school-1236x824-1376585841.jpg);
  background-size: 150px 130px;
  background-position: 0 0;
}

.hex-container-right div:nth-of-type(2) section:nth-of-type(2) {
  background: center url(../assets/images/0012.jpg);
  background-size: 150px 130px;
}

.hex-container-right div:nth-of-type(3) section:nth-of-type(2) {
  background: center url(../assets/images/093.jpg);
  background-size: 200px 130px;
}

.hex-container-right div:nth-of-type(3) section:nth-of-type(1) {
  background: center url(../assets/images/099_2.jpg);
  background-size: 100px 130px;
}

.hex-container-right div:nth-of-type(4) section:nth-of-type(2) {
  background: center url(../assets/images/0341.jpg);
  background-size: 100px 130px;
}

.hex-container-right div:nth-of-type(5) section:nth-of-type(1) {
  background: center url(../assets/images/hurdles.jpeg);
  background-size: 100px 130px;
}

/* Custom Style
_________________________________________*/

header {
     height: 250px;
     width: 100%;
     background: url(../assets/images/Honeycomb.png)
 }
 main {
     background: #f7f7f7;
 }
 footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #1b1c1d;
  color: #ffffff;
 }
 footer h1 {
     font: 300% Lobster Two;
     margin: 0px;

 }
 main.ui.padded.grid {
     padding-top: 10px
 }
 section {
     max-width: 900px;
     margin: auto;
 }
 .content-header{
    border-bottom: 3px solid #3b83c0;
    margin-bottom: 10px;
 }
 .content-header > h1,h2,h3,h4,h5,h6{
    margin-top: 7px;
    margin-bottom: 5px;
 }
 .title {
     text-align: center;
     position: relative;
     left: 50%;
     top: 50%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%)
 }
 .title>h1 {
     font: 500% Lobster Two;
     margin-top: 0px;
 }
 .yellow {
    color: #f2c61f;
 }
 .text-center {
    text-align: center!important;
 }
 .video-container {
     position: relative;
     padding-bottom: 56.25%;
     margin-bottom: 5px;
     height: 0;
     overflow: hidden
 }
 .video-container embed,
 .video-container iframe,
 .video-container object {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%
 }
 .ui.card.full-width {
     width: 100%
 }
 .ui.facebook {
     background-color: #3b579d;
     color: #fff
 }
 .ui.ribbon.label.facebook:after {
     border-right-color: #314983
 }
 .ui.ribbon.label.twitter {
     background-color: #4092cc;
     color: #fff
 }
 .ui.ribbon.label.twitter:after {
     border-right-color: #3180b7
 }
 .ui.youtube.button>a {
     color: #fff
 }
 .segment>iframe {
     width: 100%;
     margin-top: 5px;
 }

 #pear-sig {
     display: block;
     position: absolute;
     bottom: 2px;
     text-align: center;
     font-size: 11px;
     width: 100%;
 }